

	   <footer id="footer"> 
	        <p>©Copyright OrieDesign 2016</p>
	    </footer>

  	<script src="javascripts/bootstrap.min.js" type="text/javascript" charset="utf-8" async defer ></script>

  	<script src="/javascripts/jquery-2.2.0.min.js" type="text/javascript" charset="utf-8" async defer></script>

</body>

</html>