<%- include partials/header.ejs %>

    <div class="row row-centered main-page">
    	<div class="col-md-4 col-md-offset-4">
    		<h1><%= title %></h1>

    		<h2>Web Design and Developer</h2>
			<span><i class="fa fa-bluetooth-b"></i></span>
			<p>Javascript Quote Lines Here</p>
			<div class="contact-me">
				<a href="">Contact</a>
			</div>

			<div class="learn-more">
				<a href="">Learn More</a>
			</div>

    	</div>
    </div> <!-- Close Main Page -->
  </body>


</html>
