body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background: black;
  overflow: auto;
  height: 100%;
	padding-bottom: 300px;
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#4c4c4c+0,050505+0,131313+100 */
background: rgb(76,76,76); /* Old browsers */
background: -moz-linear-gradient(-45deg,  rgba(76,76,76,1) 0%, rgba(5,5,5,1) 0%, rgba(19,19,19,1) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(-45deg,  rgba(76,76,76,1) 0%,rgba(5,5,5,1) 0%,rgba(19,19,19,1) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(135deg,  rgba(76,76,76,1) 0%,rgba(5,5,5,1) 0%,rgba(19,19,19,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4c4c4c', endColorstr='#131313',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */

}

/* General Styling */
h1, h2, h3, p, ul, li {
	color: #F5F5F5;
}

h1 {
	font-size: 4em;
	margin-bottom: 30px;

}

h2 {
	font-size: 2.5em;

}

p {
	line-height: 1.6;
	font-size: 1.3em;
}

/* Page Specific Styling */
.services-page ul li {
	line-height: 1.5;
	font-size: 1.8em;
}

.services-page ul li ul li {
	font-size: 18px;
	margin-bottom: 15px;
}

/* p elements just for main page */
.main-page p {
	font-size: 1.6em;
}

.about-page .row {
	text-align: center;
}

.projects-page h2 {
	margin-bottom: 15px;
}

.projects-page p {
	font-size: 1.2em;
}

.projects-page a {
	font-size: 1.2em;
}

/* Center Bootstrap Grid Columns */
.col-centered {
    float: none;
    margin: 0 auto;
}

.services-page .more-work p {
	font-size: 2.5em;
}

nav {
	width: 100%;
}


nav li:hover {
	background-color: rgba(220,220,220,0.2);
}

/* Navigation Styling */
.nav-tabs > li > a {
font-size: 1.2em;
  color: #00B7FF;
  color: green;
  transition-property: font-size, color, background-color;
  transition-timing-function: linear, ease-in-out;
  transition-duration: 1s, 1s;
}

/* Navigation Hover Effect */
.nav-tabs > li > a:hover {
	font-size: 1.3em;
	background-color: rgba(220,220,220,0.3);
	border: none;
	color: green;
}

.logo a {
	text-decoration: none;
}

.logo h3 {
	font-size: 2.4em;
	transition-property: font-size, color, background-color;
  transition-timing-function: linear, ease-in-out;
  transition-duration: 1s, 1s;
}

.logo h3:hover {
	color: green;
	text-decoration: none;
}



/* Navigation Row Styles */
.header-nav {
	padding: 10px;
	height: 75px;

}

.btn-primary.active, .btn-primary {
	margin: 15px;
	border-color: #F5F5F5;
	transition-property: font-size, color, background-color;
    transition-timing-function: linear, ease-in-out;
    transition-duration: 0.4s, 0.4s;
    font-size: 1.7em;
}

/* Hover Effect */
.btn-primary.active:hover, .btn-primary:hover {
	border-color: gray;
	background-color: rgba(0,100,0,0.2);
	
}


.btn-primary.active, .btn-primary:hover {
	background-color: transparent;
	border-color:;
	margin: 15px;
	color: #F5F5F5;
}


/* Nav ul Styling */
ul.nav.nav-tabs.navbar-right {
	border-bottom: none;
	margin: 10px 10px auto auto;
	width: 550px;
}

/* Selected Nav Link */
.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover {
	background-color: rgba(250, 250, 250, 0.1);
	color: green;
	border: none;
	border-bottom: 1px solid white;
}

/* Home Page Main area */
.main-page {
	margin-top: 150px;
	text-align: center;
}

/* Icon Size */
.icon {
	font-size: 8em;
	text-align: center;
	margin-top: 15px;
	margin-bottom: 15px;
}


/* Images */
.portfolio-images {
	max-width: 250px;
	float: left;
	padding-right: 15px;
	border-radius: 5px;
}

/* Projects Page Adjust grid */
.portfolio .col-md-4:first-of-type {
	margin-right: 15px;
}

.portfolio:last-of-type {
	margin-bottom: 40px;
}

.services-page .services-list {
	margin-bottom: 30px;
}

/* Center Contact Form */
#contact-form {
	float: none;
    margin: 0 auto;
}


/* ===== FORM STYLES ===== */
.form-layout {
    margin-left: auto;
    margin-right: auto;
    margin-top: 15px;
    max-width: 500px;
    background-color: rgba(100, 110, 100, 0.1);
    padding: 20px 30px 20px 30px;
    font: inherit;
    color: #D3D3D3;
    text-shadow: 1px 1px 1px #444;
    border: none;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
}


.form-layout label > span {
    float: left;
    text-align: right;
    padding-right: 10px;
    margin-top: 10px;
}


.form-layout input {
	padding: 10px;
	margin-bottom: 10px;
	color: black;
	width: 350px;

}

.form-layout textarea {
	width: 350px;
    height:150px;
    padding: 5px 0px 0px 5px;
    margin-bottom: 30px;
    margin-left: 10px;
    color: black;

}

/* Center Button */
.button-wrapper {
	width: 100%;
    text-align: center;	
}

.button-wrapper ul li {
	list-style-type: none
}

/* Button Background color*/
.form-layout .button {
	background-color: transparent;
	transition: background-color 1s;
	font-size: 1.6em;
}

/* ===== END FORM STYLES ===== */

/* Footer */
#footer {
	bottom: 0;
	left: 0;
	right: 0;
	padding-right: 10px;
	background-color: rgba(107,106,106,0.3);
	position: fixed;

}

#footer p {
	text-align: right;
	padding: 20px;
	font-size: 1.1em;
	margin: 0;

}

